node_modules/
.serverless/
.serverless_plugins/
.env
.env.*
*.log
npm-debug.log*
.DS_Store
coverage/
.idea/
.vscode/
docs/
postman/
Informe_Lab2_cloud.md
Informe_Lab2_cloud.pdf
LABORATORIO 3.md
LABORATORIO 3.pdf
.gitignore
Informe_Lab3_cloud.docx
Informe_Lab3_cloud.md
Informe_Lab3_cloud.odt
package-lock.json
.gitignore
